<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="La página web de la generación maldita">
	<meta name="keywords" content="musica, música, compositores, grupo de compositores, generacion maldita, la generación maldita, generacion maldita, la generacion maldita">
	<meta name="author" content="La generacion maldita">
	<meta name="viewport" content="width=device-width">
	<title>La generación maldita</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="shortcut icon" href="../favicon.ico"/>
</head>
<body>
	<header id="main-header">
		<div class="container">
			<h1>La generación maldita</h1>
			<nav id="main-navbar">
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="">Conciertos</a></li>
				<li><a href="https://www.youtube.com/channel/UCew-5TGCDEZ1LLGqS0nxeMA">Youtube</a></li>
			</ul>
			</nav>
		</div>
	</header>
	<section>
	<div class="container">
		<section id="concerts">
			<h1>Conciertos</h1>
			<div class="concerts-flex">
				<img src="/img/concerts/concert_2018.jpg" alt="concierto_2018" class="concert-img">
				<div class="concert-text">
					<h2>Concierto de alumnos de primer año de Composición</h2>
					<p>
					Concierto realizado el año 2018 en la sala Isidora Zegers de la Universidad de Chile, presentando
					obras grupales creadas por los estudiantes de la carrera de Composición musical.<br>
					<br>
					Programa:
					</p>
					<ul>
						<li><b>Trabajo conjunto</b> - Trabajo tímbrico A</li>
						<li><b>Trabajo conjunto</b> - Trabajo tímbrico B</li>
						<li><b>Vicente de la cuadra</b> - Te llevaste todas mis poleras favoritas</li>
						<li><b>Ignacio Hidalgo</b> - 0</li>
						<li><b>Dani Costa</b> - Ritual de Cuthulhu</li>
						<li><b>Simón Aedo</b> - Trabajo dodecafónico</li>
						<li><b>Trabajo conjunto</b> - Minimalismo</li>
					</ul>
					<ul id="concert-links">
						<li><a href="https://www.youtube.com/playlist?list=PLSYsIjd5NehzUB2K8dZz3uM7XjzZhZBLa">Youtube</a></li>
					</ul>
				</div>
			</div>
			<div class="concerts-flex">
				<img src="/img/concerts/concert_2019.png" alt="concierto_2018" class="concert-img">
				<div class="concert-text">
					<h2>Concierto de alumnos de segundo año de Composición</h2>
					<p>
					Concierto realizado el año 2019 en la sala Isidora Zegers de la Universidad de Chile, presentando
					obras individuales realizadas por los estudiantes durante el año.<br>
					<br>
					Programa:
					</p>
					<ul>
						<li><b>Vicente de la cuadra</b> - Imágen de un perro n°3</li>
						<li><b>Álvaro Salinas</b> - Interrupciones</li>
						<li><b>Gabriel Gaete</b> - Con el charango</li>
						<li><b>Simón Aedo</b> - 2 pequeñas piezas para piano solo</li>
						<li><b>Dani Costa</b> - Sueño de mediodía</li>
						<li><b>Gabriel Farías</b> - Piso mojado</li>
					</ul>
					<ul id="concert-links">
						<li><b style="color:#e10000; font-size:16px">No existen registros audiovisuales de este concierto</b></li>
					</ul>
				</div>
			</div>
			<div class="concerts-flex">
				<img src="/img/concerts/concert_2020.jpg" alt="concierto_2018" class="concert-img">
				<div class="concert-text">
					<h2>Conjunciones, Disyunciones</h2>
					<p>
					Concierto realizado en Enero del año 2020, en la Corporación Cultural San Pedro de La Paz, Concepción.
					Presentando obras de diversos compositores de diferentes localidades.<br>
					<br>
					Programa:
					</p>
					<ul>
						<li><b>Daniel Bustos</b> - Kallfv Vlkantun</li>
						<li><b>Hernán Riquelme</b> - Nocturno 2 en Fa menor, Arauco tiene una pena (arreglo), Estudio 1 en Mi menor</li>
						<li><b>Benjamín Morales</b> - Estudio sobre cuarteto de cuerdas n°1</li>
						<li><b>Simón Aedo</b> - Nocturno para trío</li>
						<li><b>Álvaro Salinas</b> - Interrupciones</li>
						<li><b>Gabriel Gaete</b> - Menoscabo interno para Piano</li>
						<li><b>Trabajo conjunto</b> - Minimalismo</li>
					</ul>
					<ul id="concert-links">
						<li><a href="https://www.youtube.com/watch?v=xxhwmUnv4TU">Youtube</a></li>
					</ul>
				</div>
			</div>
			<div class="concerts-flex">
				<img src="/img/concerts/concert_2022.png" alt="concierto_2022" class="concert-img">
				<div class="concert-text">
					<h2>Concierto de alumnos de quinto año de Composición</h2>
					<p>
					Concierto realizado a mitad del año 2022 en la sala Isidora Zegers de la Universidad de Chile.
					Presentando obras de los estudiantes de la carrera de composición realizadas durante los años 2020-2022.
					<br>
					Programa:
					</p>
					<ul>
						<li><b>Fran Lizana</b> - Saturno tiene hambre</li>
						<li><b>Simón  Aedo</b> - Música para 2 percusionistas</li>
						<li><b>Gabriel Farías</b> - 34°</li>
						<li><b>Dani Costa</b> - Interconexiones</li>
						<li><b>Álvaro Salinas</b> - Suite Botánica</li>
						<li><b>Gabriel Gaete</b> - Noche adentro</li>
					</ul>
					<ul id="concert-links">
						<li><b style="color:#e10000; font-size:16px">Video en proceso de edición.</b></li>
					</ul>
				</div>
			</div>
		</section>
	</div>
	</section>
	<footer>
		<p>Ver código fuente en <a href="https://github.com/AlvaroS/lageneracionmaldita">Github</a>.</p>
	</footer>
</body>
</html>
