/* Css Style */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;700&family=Inter:wght@400;500;600;700&display=swap');

body{
	background-color: #f4f4f4;
	color: black;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.3em;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Main page */

.container{
	width: 75vw;
	margin: auto;
	overflow:hidden;
}

footer{
	margin-top: auto;
	text-align: center;
	font-size: 0.8rem;
}

footer p{
	color: #909090;
}

#main-header{
	padding-top: 30px;
}

#main-header h1{
	text-align: center;
    font-family: "Crimson Text", serif;
	font-size: 3.5em;
	font-weight: 700;
}

#main-header ul{
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main-navbar li{
	font-family: "Inter", sans-serif;
	font-weight: 600;
	display: inline;
	padding: 10px 10px
}

#members h2{
	font-size: 1.9rem;
}

h1, h2, h3{
	font-family: "Crimson Text", serif;
	font-weight: 600;
}

a, a:visited{
	text-decoration: none;
	color: #006bb3;
}

a:hover{
	color:#0090f2;
}

#section-1{
	margin:40px 0;
}

#center-flex{
	display: flex;
}

#banner{
	flex: 2;
	width: 25px;
	padding: 25px;
	object-fit: cover;
}

#members{
	flex: 1;
	padding-left: 25px;
}

/* Biography */

#bio h1{
	text-align:center;
	font-size: 2.2rem;
	font-weight: Medium;
	padding-top: 20px;
}

.bio-flex{
	display: flex;
	align-items: flex-start;
}

.bio-img{
	flex: 1;
	width: 50px;
	object-fit: contain;
}

.biography-text{
	flex: 2;
	padding-left: 15px;
}

.biography-text p{
	text-align: justify;
	margin-top: 0;
}

/* Concert */

#concerts h1{
	font-size: 2.5rem;
	text-align: left;
}

#concert-links li{
	list-style-type: none;
	text-align: center;
}

.concerts-flex{
	display: flex;
	align-items: flex-start;
	margin-top: 25px;
}

.concert-img{
	flex: 1;
	width: 25%;
	object-fit: contain;
}

.concert-text{
	flex: 2;
	padding-left: 15px;
}

.concert-text p{
	text-align: justify;
	margin-top: 0;
}

/* Not found page */

#not-found{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#not-found h1{
	text-align: center;
	font-size: 3em;
	font-family: "Crimson Text", "serif";
}

#not-found p{
	text-align: center;
	line-height: 1.6;
}


/* Smartphone view */

@media(max-width:768px){
	body{
		font-size: 1.1rem;
		text-align: center;
	}
	
	.container{
		width: 90%;
		overflow: hidden;
	}

	#main-header h1{
		font-size: 2.3rem;
		line-height: 35px;
	}

	#members{
		padding: 0;
	}

	#members ul{
		padding: 0;
		list-style-type: none;
	}

	#center-flex{
		display: flex;
		flex-flow: column;
	}

	#banner{
		order: 2;
		width: 100%;
		padding: 0px;
		object-fit: cover;
	}

	/* Biografias */ 

	.bio-flex{
		display:block;
	}

	.bio-img{
		flex:1;
		height:275px;
		width:auto;
		object-fit: contain;
	}

	.biography-text ul{
		padding: 0;
	}

	.center-flex{
		display: block;
	}

	.members{
		padding-left: 0;
	}

	/* Concerts */

	#concerts h1{
		text-align: center;
	}

	.concerts-flex{
		display: flex;
		flex-direction: column;
	}

	.concert-text ul{
		padding: 0;
	}

	.concert-img{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	/* Not found page */

	#not-found{
		margin: auto;
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}

	#not-found h1{
		font-size: 2rem;
	}
	

}
